.container-cooper {
    background-color: #EEF3F4 !important;
    padding: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.cooperator-row {

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}