.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-counter {
    margin-top: 50px;
    padding: 80px;
    background-image: url('../../images/back-drop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 60vh;
    background-position: center;
}
.left-batch {
    line-height: 20px;
}